@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Beans-A-plenty</h1>
    <p>
        Join our club by <a asp-area="" asp-controller="UserProfile" asp-action="Creation">registering here</a>!
    </p>
    <p>
        See what is on the <a asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
    </p>
</div>
